@import url("https://fonts.googleapis.com/css?family=Inter");
@import url("https://fonts.googleapis.com/css?family=Lexend+Deca");

body {
    background-color: hsl(233, 47%, 7%);
    color: white;
    font-family: Inter;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas: "b" "a";
    max-width: 900px;
    padding: 20px;
}
.block1 {
    text-align: center;
    grid-area: a;
    background-color: hsl(244, 38%, 16%);
    padding: 5%;
    border-radius: 0 0 8px 8px;
}
.violet {
    color: rgb(166, 98, 216);
}
.part1 {
    font-size: 25px;
}
.part2 {
    color: rgb(166, 163, 190);
    font-size: 13px;
    line-height: 1.7;
    margin-top: 2%;
}
.part3 {
    font-size: 17px;
}
.part4 {
    color: rgb(166, 163, 190);
    font-size: 9px;
    font-family: Lexend Deca;
    margin-top: 2%;
    margin-bottom: 5%;
}
.grid2 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 10%;
}
.img {
    grid-area: b;
    background:url("assets/img/image-header-mobile.jpg") no-repeat center;
    border-radius: 8px 8px 0 0;
    margin:0;
    padding:0;
    background-size: cover !important;
    height: 300px;
}
.filtre{
    width:100%; 
    height:100%; 
    background:rgba(80, 19, 117, 0.5);
    border-radius: 8px 8px 0 0;
}  
@media screen and (min-width: 480px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "a b";
    }
    .block1 {
        text-align: left;
        border-radius: 8px 0 0 8px;
        padding: 10%;
    }
    .part2 {
        margin-top: 10%;
    }
    .part4 {
        margin-top: 5%;
    }
    .grid2 {
        grid-template-columns: repeat(3, 1fr);
        margin-top: 20%;
    }
    .img {
        background:url("assets/img/image-header-desktop.jpg") no-repeat center;
        border-radius: 0 8px 8px 0;
        height: auto;
    }
    .filtre{
        border-radius: 0 8px 8px 0;
    }  
}

footer {
    position:fixed;
    bottom:0;
    margin-bottom: 10px;
}